body{
background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
width: 100%;
height: 100%;
background-attachment: fixed;
}

*{
  transition: 0.4s;
  margin: 0;
  padding: 0;
}


.block{
  display:flex;
  justify-content: center;
}
.field{
  margin: 5px;
  height:100px;
  width: 100px;
  background:#fff;
  text-align:center;
  border-radius: 10px;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.4);
}
.fa-circle-o {
  margin-top:19px;
  color: #00ba41;
}

.fa-times {
  margin-top:17px;
  color: #fc049d;
}
.btn {
  font-family: 'Nanum Pen Script', cursive;
  /* background: #672d78; */
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 5px;
  letter-spacing: 2px;
}
.btn:hover, .btn:focus, .btn:active {
  transform: scale(1.3);
  color: #ecf0f1;
  cursor: pointer;
  border-radius: 20px;
}
.text{
  margin:0 auto;
  text-align:center;
}
h2{
  color:rgb(239, 251, 95);
  font-size:50px;
  font-family: 'Nanum Pen Script', cursive;

}
.choose img{
  width:170px;
  height: auto;
}

@media (min-width:768px) {
h1{
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  color:white;
  font-size: 6em;
}
.wrapper{
  width: 998px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.row{
  display: flex;
  align-items: center;
}
.game-field{
  width:50%;
  height:50%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.rick img{
  width: 200px;
}
.hello{
  font-family: 'Nanum Pen Script', cursive;
  color: white;
  font-size: 2.5em;
}
.buttons{
  text-align:center;
  width: 40em;
  display: flex;
  justify-content: space-between;
}

}
@media (max-width:767px) {

.wrapper{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-family: 'Nanum Pen Script', cursive;
  text-align: center;
  color:white;
  font-size: 4em;
}
.rick img{
  width: 150px;
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 20px;
}
.hello{
  font-family: 'Nanum Pen Script', cursive;
  color: white;
  font-size: 2em;
}
.game-field{
  margin-bottom: 15px;
}
.buttons{
  text-align:center;
  display: flex;
  justify-content: center;
}
.choose img{
  width:100px;
  height: auto;
}
.btn {
  font-family: 'Nanum Pen Script', cursive;
  /* background: #672d78; */
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 5px;
  letter-spacing: 2px;
}
}
